<div class="container-fluid p-0">
  <footer class="text-center text-lg-start footer">
    <div class="container d-flex justify-content-center align-items-center py-5">
      <!-- Facebook Button -->
      <a href="https://www.facebook.com/profile.php?id=100016489266121" target="_blank"
        class="btn btn-primary btn-lg mx-2 face-link">
        <i class="fab fa-facebook-f"></i>
      </a>

      <!-- YouTube Button -->
      <a href="https://youtube.com/@mhmood.7oda" target="_blank" class="btn btn-primary btn-lg mx-2 youtube-link">
        <i class="fab fa-youtube"></i>
      </a>

      <!-- GitHub Button -->
      <a href="https://github.com/MahmoudMo99" target="_blank" class="btn btn-primary btn-lg mx-2 github-link">
        <i class="fab fa-github"></i>
      </a>

      <!-- LinkedIn Button -->
      <a href="https://www.linkedin.com/in/mahmoud-mohamed-a25901223/" target="_blank"
        class="btn btn-primary btn-lg mx-2 linkedin-link">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>

    <!-- Copyright -->
    <div class="text-center text-white p-3 copyright">
      <p class="m-0">
        2024 © Copyright : Mahmoud Mohamed
      </p>
    </div>
  </footer>
</div>