header {
  background-color: var(--lightMainColor) !important;
  font-family: "Cairo", sans-serif;
}

.navbar-brand span {
  color: var(--lightSecondaryColor) !important;
  font-weight: bold;
}

.nav-link {
  color: white;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: var(--lightSecondaryColor);
  font-size: 1.4rem !important;
}
.active {
  color: var(--lightSecondaryColor) !important;
  font-size: 1.4rem !important;
  font-weight: 400 !important;
}

header .navbar-nav .nav-link {
  margin-left: 20px;
}

@media (max-width: 768px) {
  header .navbar-nav .nav-link {
    margin-left: 0;
    margin-bottom: 10px;
  }
}
