<header class="navbar navbar-expand-lg navbar-light bg-light shadow-sm py-2">
  <div class="container-fluid ">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center fs-2" href="/home">
      <span>القرآن و السنة</span>
    </a>

    <!-- Toggle button for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav" appClickOutside (clickOutside)="closeNavbar()">
      <ul class="navbar-nav ms-auto me-lg-5 d-flex justify-content-center align-items-center" (click)="onLinkClick()">
        <li class="nav-item">
          <a class="nav-link fs-5" [routerLink]="['home']" routerLinkActive="active">الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" [routerLink]="['quran']" routerLinkActive="active">القرآن</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" [routerLink]="['you']" routerLinkActive="active">الأذكار</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" [routerLink]="['they']" routerLinkActive="active">الأدعية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" [routerLink]="['it']" routerLinkActive="active">تواصل</a>
        </li>
      </ul>
    </div>


  </div>
</header>