<div class="container-fluid p-0 m-0">
  <div id="islamicSlider" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="2500">
    <!-- Indicators -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#islamicSlider" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#islamicSlider" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#islamicSlider" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#islamicSlider" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#islamicSlider" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>

    <!-- Slides -->
    <div class="carousel-inner">
      <!-- Slide 1 -->
      <div class="carousel-item active">
        <img src="../../../assets/moshaf.jpg" class="d-block w-100" alt="صورة القرآن" loading="lazy">
        <div class="carousel-caption">
          <h5>القرآن الكريم</h5>
          <p>نور الله ينير حياتنا.</p>
        </div>
      </div>
      <!-- Slide 2 -->
      <div class="carousel-item">
        <img src="../../../assets/dark-masgd-2.jpg" class="d-block w-100" alt="صورة مسجد" loading="lazy">
        <div class="carousel-caption">
          <h5>بيت الله</h5>
          <p>موطن السلام والراحة.</p>
        </div>
      </div>
      <!-- Slide 3 -->

      <div class="carousel-item">
        <img src="../../../assets/pray.jpg" class="d-block w-100" alt="صورة صلاة" loading="lazy">
        <div class="carousel-caption ">
          <h5>الصلاة</h5>
          <p>صلة العبد بربه.</p>
        </div>
      </div>
      <!-- Slide 4 -->

      <div class="carousel-item">
        <img src="../../../assets/ka3ba.jpg" class="d-block w-100" alt="صورة الكعبة" loading="lazy">
        <div class="carousel-caption">
          <h5>الكعبة المشرفة</h5>
          <p>قبلة المسلمين حول العالم.</p>
        </div>
      </div>

      <!-- Slide 5 -->
      <div class="carousel-item">
        <img src="../../../assets/sunset.jpg" class="d-block w-100" alt="صورة غروب الشمس" loading="lazy">
        <div class="carousel-caption">
          <h5>آيات الله في الكون</h5>
          <p>تأملوا في عظمة الخالق.</p>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#islamicSlider" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#islamicSlider" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



  <div class="container my-5">

    <div class="row">
      <div class="col-12 mb-3">
        <h2 class="section-title">تاريخنا</h2>
        <div class="decorative-line"></div>
      </div>

      <!-- النص -->
      <div class=" col-12 col-md-12 col-lg-7">

        <p class="fs-4 section-content">
          يعود تاريخ <span>الإسلام</span> إلى بدء الخليقة، حيث خلق الله الكون وجعل فيه آيات تدل على قدرته وعظمته. بدأت
          <span>الرسالات السماوية</span> مع
          <span>الأنبياء</span> لتوجيه البشرية، ثم جاء <span>الإسلام</span> خاتمًا للرسالات، حين نزل الوحي على
          <span>النبي محمد
            صلى الله عليه وسلم</span> في
          القرن السابع الميلادي، لينشر نور الإسلام بين الناس ويخرجهم من <span>ظلمات الجهل</span> إلى <span>نور
            الحق</span>.
          <span>الإسلام</span> ليس فقط <span>دينًا</span> بل <span>نظام حياة شامل</span>؛ فهو يؤسس مبادئ
          <span>العدالة</span>،
          <span>الرحمة</span>، و<span>الإحسان</span>. ومن خلاله، قامت <span>الحضارة الإسلامية</span> على
          أسس قوية، وقدمت للعالم <span>إسهامات عظيمة</span> في مجالات <span>العلم</span>، <span>الأدب</span>،
          و<span>الفلسفة</span>. تشمل مسيرة الإسلام <span>أحداثًا جليلة</span> وقصصًا
          رائعة لل<span>صحابة الكرام</span>، الذين جاهدوا في سبيل الله لإعلاء كلمة الحق، وأسهموا في نشر تعاليم الإسلام
          عبر
          <span>بقاع الأرض</span>.
          إن دراسة هذا <span>التاريخ المليء بالدروس والعبر</span> تبرز قيمًا مثل <span>التضحية</span>،
          <span>الإيمان</span>،
          <span>الإيثار</span>، و<span>العدل</span>، لتبقى مبادئ
          الإسلام خالدة ترشد الإنسان إلى طريق <span>الخير</span>، وتدعو إلى إحياء القيم السامية التي تساهم في <span>بناء
            مجتمع
            إنساني رحيم ومتقدم</span>.
        </p>
      </div>

      <!-- صورة المسجد -->
      <div class="col-12 col-md-12 col-lg-5 position-relative box-container">
        <div class="img-box">
          <img src="../../../assets/squre-masgd.jpg" alt="صورة مسجد" class="mosque-img">
        </div>
      </div>

    </div>
  </div>

</div>