<button [hidden]="true" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tafsirModal">
  عرض التفسير
</button>

<div class="modal fade" id="tafsirModal" tabindex="-1" aria-labelledby="tafsirModalLabel" aria-hidden="true"
  (hidden.bs.modal)="clearContent()">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">

        <div class="modal-title" id="tafsirModalLabel">
          <h3 class="p-0 m-0">
            تفسير الآية : </h3>
          <br>
          <h3>
            {{ayahText}}
          </h3>
        </div>

        <button type="button" class="btn-close close-btn-rtl" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <select class="form-select fs-4" [(ngModel)]="selectedTafsir" (change)="loadTafsir()">
          <option value="" selected disabled> اختر التفسير</option>
          <option value="ar.jalalayn">تفسير الجلالين</option>
          <option value="ar.qurtubi">تفسير القرطبي</option>
          <option value="ar.waseet">التفسير الوسيط</option>
          <option value="ar.miqbas">تفسير المقباس من تفسير بن عباس</option>
          <option value="ar.baghawi">تفسير البغوي</option>
        </select>
        <hr />
        <p *ngIf="tafsir" class="fs-3">{{ tafsir.text }}</p>
        <p *ngIf="loading" class="fs-3">جارِ تحميل التفسير...</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (hidden.bs.modal)="clearContent()">إغلاق</button>
      </div>
    </div>
  </div>
</div>