<div class="container">
  <button id="to-top" class="scroll-to-top" (click)="scrollToTop()"><i class="fas fa-arrow-up"></i>
  </button>
  <div class="row sm my-5 bg-body rounded">
    <div class="col-12">
      <div *ngIf="surahData">
        <div class="row d-flex align-items-center surah-header py-3 mb-4">
          <div class=" col-12 col-md-4 d-flex justify-content-center justify-content-md-start pb-3 pb-md-0">
            <h2 class="surah-name m-0">{{ surahData.name }}</h2>
          </div>
          <div class=" col-12 col-md-4 d-flex justify-content-center pb-3 pb-md-0">
            <!-- <p class="m-0 fs-3"> تبدأ من صفحة : {{ surahData.ayahs[0].page }}</p> -->
            <p class="m-0 fs-3"> عدد آياتها : {{ surahData.ayahs.length }}</p>

          </div>
          <div class=" col-12 col-md-4 d-flex justify-content-center justify-content-md-end">
            <span class="surah-number-circle d-flex justify-content-center align-items-center">{{ surahData.number
              }}</span>
          </div>
        </div>

        <div class="px-2">
          <h5 class="bismillah text-center" *ngIf="surahData.number !== 9 && surahData.number !== 1">{{ bismillah }}
          </h5>
          <div *ngFor="let page of paginatedSurah">
            <div class="ayahs text-center">
              <span *ngFor="let ayah of page.ayahs">
                <span class="ayah">{{ ayah.text }}<span class="ayah-number-circle text-center mx-2">{{
                    ayah.numberInSurah }}</span></span>
              </span>
            </div>
            <div class="page-number">
              <span>{{ page.pageNumber }}</span>
            </div>
            <div class="page-divider"></div>
          </div>
        </div>
        <div class="d-flex justify-content-between my-4">
          <button class="btn btn-secondary" (click)="goToPreviousSurah()" [disabled]="surahData.number === 1">
            السورة السابقة
          </button>
          <button class="btn btn-primary" (click)="goToNextSurah()" [disabled]="surahData.number === totalSurahs">
            السورة التالية
          </button>
        </div>
      </div>
    </div>
  </div>
</div>