@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400&family=Fira+Sans:ital,wght@1,300&family=Jua&family=Reem+Kufi&family=Roboto+Slab:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  --mainColor: #10375a;
  --lightMainColor: #164d8f;
  --secondaryColor: #9c7d27;
  --lightSecondaryColor: #d7fe13;
  --thirdColor: #ff9822;

  font-family: "Tajawal", "sans-serif" !important;
}
